body {
  font-size: 14px;
}
.blog-masthead {
  background-color: #b34848;
}
.blog-title-color {
  color: #b34848;
}
.blog-title-color:hover {
  color: #b34848;
}
.form-group-flex {
  display: flex;
}
