body {
  font-size: 14px;
}
.blog-masthead {
  background-color: #b34848;
}
.blog-title-color {
  color: #b34848;
}
.blog-title-color:hover {
  color: #b34848;
}
.form-group-flex {
  display: flex;
}

.option-color-M {
  background-color: blue;
  color: yellow;
}

.option-color-Z {
  background-color: red;
  color: yellow;
}

.option-color-single-M {
  color: blue;
}

.option-color-single-Z {
  color: red;
}
